[2015-06-24 17:28] andrewcbancroft opened #4 "Make usable in Storyboard?"
Hi!

Your circular progress bar has helped me immensely - thank you for creating it!

In a project I'm coding on, I tweaked the KDCircularProgress class to implement init(coder:) so that I could position the circular progress view with Auto Layout (rather than trying to mess with the positioning in code).

Would you be interested in collaborating on the implementation of this init method?  I'm hap

[2015-06-24 19:13] kaandedeoglu commented on #4
Hi,

I've been meaning to implement init?(coder aDecoder: NSCoder) for sometime but I've been extremely busy over the last couple of months and did not have much time for it. I'd like to see your implementation, please send a pull request and we'll go from there. Oh also thank you for contributing

Kaan

[2015-06-24 19:36] andrewcbancroft commented on #4
My pleasure, Kaan!  I'll make it my goal to send you an implementation this evening.

[2015-06-25 13:05] #4 closed

[2015-06-30 07:15] vanthang91 opened #7 "Window is nil when push or present to another view controller"
Hi Kaandedeoglu, I used this lib to show circular progress view on a view controller and after finishing animation, I want to push or present to another view controller, app is crashed because new window is nil.
This bug is here:
    public override func didMoveToWindow() {
        progressLayer.contentsScale = window!.screen.scale
    }
It should be:
    public override func didMoveToWindow() {

[2015-06-30 07:17] #7 closed

[2015-06-30 07:20] vanthang91 commented on #7
Sr I used old version, you fixed it.
Thanks

[2015-09-07 19:31] sandervanhooft opened #8 "Modify progress / track thickness Int only"
Hi,

I love the progress bar, playing around with it. I however seem to be unable to modify the thickness of the track and progress when working with the inspector in the Storyboard on a Double level, seems to be Int only. So the modifications are very coarse, not usable for production. The Inspector form field seems to not accept Doubles here. Any clue? Developing on Xcode 6.4 for iOS 8.4.

Kind

[2015-09-07 19:34] sandervanhooft commented on #8
(Restarting Xcode does not solve this issue.)

[2015-09-09 05:15] jefflopes opened #9 "Feature request: inner fill color"
Can you please consider adding a setter for the fill color inside the circle? It would be helpful in creating effects like the one in the attached image. Thanks!

![screen568x568](https://cloud.githubusercontent.com/assets/54537/9753850/12d528f4-5690-11e5-8f2e-ef6850eb7b37.jpeg)

[2015-09-09 07:23] kaandedeoglu commented on #9
Hello, I'm not sure I understand what you mean by fill color. You can just pass in a single color for the progressColor property and it will act as in the screenshot above. i.e `circularProgress.progressColors = [UIColor.orangeColor()]`

[2015-09-09 07:30] kaandedeoglu commented on #8
Hello Sander,
I totally see your point, and this has happened to me trying to add examples through interface builder. We can multiply everything by 10, not a hard thing to achieve. I'm only afraid of breaking code for people who are already using `KDCircularProgress`. I'll have to try and see I guess. Thank you for bringing this up!

[2015-09-09 10:12] sandervanhooft commented on #8
No problem! I'll code it instead of using the interface builder. Suitable workaround for a minor issue :).

[2015-09-09 10:15] kaandedeoglu commented on #8
Okay! I'm closing this for the time being, if anything changes, I'll reply to this thread and let you know. Have a good one!

[2015-09-09 10:15] #8 closed

[2015-09-09 12:50] jefflopes commented on #9
To get the overlap effect between the two circles I'd like to make the KDCircularProgress's background clearColor but the inner part of the circle opaque and the same color as the cell's background.

[2015-09-10 19:39] kaandedeoglu commented on #9
Okay - I see what you're trying to accomplish. I'll try to add this in the next few days. Thanks for bringing this up!

[2015-09-10 20:08] kaandedeoglu commented on #9
I've added a property called `progressInsideFillColor`, that should do the trick. I've pushed the changes only to the swift-2 branch. Given that Xcode 7 is released in 6 days, there's no point in adding this to master. Please let me know if something does not work.

[2015-09-10 20:08] #9 closed

[2015-09-10 21:56] jefflopes commented on #9
Thanks! Swift 2.0 branch is perfect. That's what I'm using.

[2015-09-11 03:01] jefflopes commented on #9
Just integrated. Looks great! Thanks again.

[2015-10-01 17:37] sneps85 opened #11 "App crashing when calling progress() from async thread"
My app is crashing when calling progress() and finished from async thread, as the progressLayer.presentationLayer() is nil.

Is that an issue of KDCircularProgress or am I doing something wrong?

[2015-10-02 18:01] kaandedeoglu commented on #11
I've never had such issues, are you sure you're touching KDCircularProgress only on the main thread?

[2015-10-02 18:55] sneps85 commented on #11
I start Kdcircularprogress, then i make an Alamofire request. In the success callback i have to do some asyn calculation (dispatch_async) in a for loop, for which i am using thr kdcircularprogress. Therefore i call progress() inside this loop and finished() after the loop. But when i do not check if the progressLayer.presentationLayer() exists inside the progress() call before calling animateToAng

[2015-10-02 18:57] kaandedeoglu commented on #11
Okay I see.

To further understand the root of this, can I see a crash log and your sample code please?

[2015-10-02 18:58] sneps85 commented on #11
I updated the comment above. I do not have access to the code right know, i can give it to you on monday. But i think the description above explains the procedure quite good.

[2015-10-02 19:06] sneps85 commented on #11
Here a pseudocode:

Circularprogress.started()
Response Handler

Alamofire.request(.GET, "http://httpbin.org/get", parameters: ["foo": "bar"])
         .response { request, response, data, error in
            dispatch_async {
               for (index, row) in data {
                   Calc()
                   Circularprogress.progress(percentage: index/row.count)
                 }

[2015-10-02 20:19] kaandedeoglu commented on #11
here's the problem, you must switch back to the main thread before calling any of the CircularProgress' methods.

[code]

[2015-10-02 20:56] sneps85 commented on #11
But how to do that? I get the percentage only in the async thread... Could you help me?

[2015-10-02 20:57] sneps85 commented on #11
for now, my workaround is to check if processLayer.presentationLayer() is not nil before calling animateToAngle() in progress()...

[2015-10-05 05:40] sneps85 commented on #11
No i have access to the code and i didn't remember, but inside of the progress(), finished() and started() methods, i do:

 dispatch_async(dispatch_get_main_queue()) {
         ...
}

[2015-10-07 13:06] sneps85 opened #12 "Crashing when no width and height constraints set"
When no height and width constraint is set on the IB, but instead top,right,bottom,left constraints in combination with a aspect ratio constraint, the following code causes the crash:

let g = CGGradientCreateWithColorComponents(baseSpace, componentsArray, locations,componentsArray.count / 4)
                self.gradientCache = g
                gradient = g!

as g is nil.

Do i have to set heigh

[2015-10-07 13:31] kaandedeoglu commented on #12
Hello,

I just constructed a similar example in IB that seems to run just fine. Please construct an example project that crashes for me to look at. Please feel free to reopen this when you get a reproducible example.

Thank you :)

![screen shot 2015-10-07 at 4 28 27 pm](https://cloud.githubusercontent.com/assets/1566836/10338777/7f829748-6d10-11e5-9e9e-d96fd7403782.png)

[2015-10-07 13:31] #12 closed

[2015-10-14 07:51] puyanLiu opened #13 "圆环周围有锯齿 Circle surrounded by sawtooth"
您好，这个圆环周围发现有些锯齿，请问这个怎么解决，谢谢
Hello, found some sawtooth around the ring, could you tell me how to solve this，thanks

[2015-10-14 08:01] kaandedeoglu commented on #13
hello, please post a screenshot

[2015-10-21 12:42] kaandedeoglu commented on #13
closing this after no additional input after 1 week

[2015-10-21 12:42] #13 closed

[2015-11-11 10:53] ArturSkachkov opened #14 "Why progress animation speed decreases?"
After pressing the pause and re-activated every time the progress animation speed decreases. How to solve this problem?Thank you

[2015-11-11 11:15] ArturSkachkov commented on #14
Using the method animateToAngle when you press a button and the activation of this method, the rate of progress is reduced. So precisely formulated

[2015-11-11 11:21] kaandedeoglu commented on #14
You are right - the method takes duration and so the speed depends on the progress when the animation begins. I might consider adding an option to specify speed rather than duration, what do you think?

[2015-11-11 11:35] ArturSkachkov commented on #14
Of course it would be convenient to specify the length of it, to re-start after the animation was completed simultaneously with the progress of the specified time. But if you simply turn on the parameters of speed, to be able to specify the speed at the first re-animation and after a pause as the same, or constant.Thank you so much for a great product.

[2015-11-11 11:42] ArturSkachkov commented on #14
sorry for Google translator :)

[2015-11-11 12:01] kaandedeoglu commented on #14
@ArturSkachkov I just pushed 1.3.1, the animate methods now have a relativeDuration parameter (defaults to `true`). If you set it to false, `KDCircularProgress` will treat the duration as the duration it would take to perform 1 full turn, and keep the speed constant independent from where the start angle is. closing the issue for now, you can reopen if it doesn't work for you.

[2015-11-11 12:01] #14 closed

[2015-11-11 12:27] ArturSkachkov commented on #14
Thank you, it works!

[2015-11-30 02:58] toka756 opened #15 "Compiler error after update to 1.3.0"
After I upgrade KDCircularProgress to 1.3.0 var cocoa pod, the compiler error appear.
I clean and restart Xcode(Version 7.1.1), but not fix the problem.

XXXX/Pods/GradientCircularProgress/Source/IndicatorStyle.swift:10:15: Type 'IndicatorStyle' does not conform to protocol 'StyleProperty'

XXXX//Pods/GradientCircularProgress/Source/OrangeDarkStyle.swift:10:15: Type 'OrangeDarkStyle' does not conf

[2015-11-30 03:00] #15 closed

[2015-11-30 03:00] toka756 commented on #15
Sorry, It is not the same Library...

[2016-01-25 05:16] chienplee opened #16 "animateFromAngle crashes"
Hi,
First I would like to say thank you for creating this beautiful progress. I have a UICollectionView and inside my collectionviewCell I have predefined a KDCirularProgressView. However When I want to run the animation, the app crashes with the following message:

The commented code is working fine, it is the animation that crashes the app.
Error message: fatal error: unexpectedly found nil whil

[2016-01-26 14:14] kaandedeoglu commented on #16
@chienplee
Hello,

Thanks for reporting this. I'll look into this later today and get back to you. I'm guessing the `presentationLayer()` returns `false` in some scenarios. I'll probably guard to make sure that `presentationLayer`. :thought_balloon:

[2016-01-26 14:16] kaandedeoglu commented on #16
@chienplee Meanwhile a sample project demonstrating the crash would be amazing!

[2016-01-27 10:10] kaandedeoglu commented on #16
@chienplee I've made the changes discussed, please `pod update` let me know.

[2016-01-29 12:18] chienplee commented on #16
Hi,

My apology for the late reply. Yes the animation works fine now. I am amazed how you tackled this issue without a sample project, awesome job!

[2016-01-29 12:18] #16 closed

[2016-02-05 10:48] #11 closed

[2016-04-09 13:11] DBL-Lee opened #20 "Setting start angle or angle cause bad access"
Since the update, setting start angle or angle would crash and the error is bad access.

![screen shot 2016-04-09 at 21 01 46](https://cloud.githubusercontent.com/assets/8804410/14403777/a217d44a-fe96-11e5-8fc7-e18f1b2f4b08.png)

I can't figure out why changing from int to double implementation would cause this error?

If I use step over, the error occurs right after this line.

[2016-04-09 14:19] kaandedeoglu commented on #20
this is very weird, the example project uses a very similar setup process without ever crashing. Few things come to mind:

- Can you please put a breakpoint before the crashing line and do `po roundIndicator.progressLayer` in the debugger and tell me what comes up. I'm assuming the progressLayer comes out as nil, considering that is the only other property that the setter for `startAngle` touches.

[2016-04-09 14:29] DBL-Lee commented on #20
I am using cocoapods how should I see the private layer property in debugger?

I have tried the second suggestion but it still crashes.

[2016-04-09 14:45] DBL-Lee commented on #20
I copied the file to my project. Then the problem went away (not even changing layer to public and outputing). I reinstalled the pods but it still crashes when using pod. Any idea why?

[2016-04-09 14:49] kaandedeoglu commented on #20
Not really, I'm using it with Cocoapods in a project of mine as well, all works fine here.

[2016-04-09 14:56] DBL-Lee commented on #20
Ok. I will just use the file itself in my project for the time being. Thank you very much!

[2016-04-11 10:20] klwoon opened #21 "How to remove the margin"
![screen shot 2016-04-11 at 6 16 33 pm](https://cloud.githubusercontent.com/assets/9354867/14424105/e054ad1a-0011-11e6-87fb-50eee035afd6.png)

May I ask how to remove the margin between the circle and the border (blue line of the square)?
Thanks

[2016-04-11 10:33] klwoon commented on #21
![screen shot 2016-04-11 at 6 31 51 pm](https://cloud.githubusercontent.com/assets/9354867/14424452/b3fbc0f8-0013-11e6-84c5-e287c87d4cac.png)
Currently I'm fixing the height, and adjust the aspect ratio so that the circle touches the border. Please let me know if there's any better method.
Thanks.

[2016-04-11 10:38] kaandedeoglu commented on #21
I'm afraid there's always going to be some padding. It's added to make sure that glows don't get clipped. In the future, I might consider removing the padding when the `.NoGlow` is set for the `glowMode` property.

[2016-04-11 10:40] klwoon commented on #21
Thanks! Much appreciated!

[2016-04-11 10:40] #21 closed

[2016-05-09 13:03] kaandedeoglu commented on #20
Closing this for the time being since nobody else apparently had this problem. please feel free to reopen if it persists or you get a better idea of what's going on 😄

[2016-05-09 13:03] #20 closed

[2016-05-12 03:54] orbsense commented on #16
I was running the previous version and ran into the same crashing bug.  I just updated to the build released a month or so ago and the bug went away!

Thank you so much for fixing this control, I LOVE it.  It has been a fantastic progress to show in my prototype application.

THANK YOU!

[2016-05-12 18:51] kvndevils opened #22 "z-order issue - circularProgress view above other UIImages"
The circularProgress view appears above other images despite being in the background in the storyboard. Any idea how to fix this?

Thanks!
(Great work!)

[2016-05-12 19:04] LJBowen opened #23 "Completion status returning false on complete"
I create a CircularProgress at on button press. I than send off a GET request and if I am animating when I finish with my request I pause and set a new animateFromAngle to complete in 1 second. I appears that doing this is causing the completed to return false in the new animeFromAngle.

[2016-05-12 19:48] #22 closed

[2016-06-04 02:39] dfusilier commented on #23
Also having this problem.

[2016-06-20 17:45] ahmedsafadii opened #25 "complete circular when i scroll or get out of the view"
complete circular when i scroll or get out of the view

[2016-06-24 07:07] alexsanderkhitev opened #27 "Progress size"
Hello! Thank you for your framework. I have a trouble with it. I made frame for KDCircularProgress, but progress does not stretch to margins of its view. How can I make it? KDCircularProgress background color is black for example. Please help me.

https://monosnap.com/file/Xr6HE46g3AzzD5Q81d5kyet7h6LiE7

[2016-06-24 13:24] kaandedeoglu commented on #27
@alexsanderkhitev Unfortunately this is a design decision made for this control. We always leave a `20%` padding to accommodate for the glows which extend the track area. I might consider removing this and use `clipsToBounds = false` as default but I'm afraid that will break sizing for a lot of existing users.

[2016-06-24 13:40] alexsanderkhitev commented on #27
@kaandedeoglu thank you so much for your answer!

[2016-06-24 13:40] #27 closed

[2016-07-02 11:33] alexsanderkhitev opened #28 "Parameters in code doesn't work"
Hello! I use your library and I added a new parameter. But when I set this parameter from UIViewController, it doesn't work. This is a Bool parameter. How can I fix it?

[2016-07-02 12:41] #28 closed

[2016-07-06 02:10] mrigdon opened #29 "completion block in nested call to animateToAngle not firing"
I have nest calls to animateToAngle like so:

[code]
but the subsequent call's completion block is not firing.. why would this be (the print statement does not print, and the other things don't work either)?

[2016-07-06 02:22] mrigdon commented on #29
Think I solved this by wrapping the nested call in

[code]

[2016-07-06 03:45] #29 closed

[2016-07-08 05:14] Milap7 opened #30 "How to set specific color for particular angle range"

[2016-07-18 18:00] suhaskr opened #31 "Could not generate continuous animation."
Hi,  My intent is to generate animation from 0-360 degree continuously.
I tried to generate it using the following functions.

@IBAction func progressButtonTapped(sender: UIButton) {
       continuousAnimation()
}

func continuousAnimation() {
        circularProgressView.animateFromAngle(0, toAngle: 360, duration: 5) { (completed) in
            if completed {
                self.continuousAnima

[2016-07-19 16:02] Pocito opened #32 "Crash when opening the view controller with a KDCircularProgress "return mod ...""
Everytime I re-open the app, my UITableView which contains a CircularProgress in every cell crashes with this error. Any idea how to fix it? (it doesn't crash all the time, sometimes it works too)

I think it's the value "value" which has a problem.

<img width="1013" alt="screen shot 2016-07-19 at 08 59 53" src="https://cloud.githubusercontent.com/assets/16222485/16956949/3f9aeb20-4d8f-11e6-9670-

[2016-07-20 17:50] Pocito commented on #32
I succeeded to fix it, I was sending a NaN value for the Angle when using animateToAngle!

[2016-07-20 17:50] #32 closed

[2016-07-21 09:29] kaandedeoglu commented on #30
This is unfortunately not supported. We use radial gradients as a mask, which has a continuous nature.

[2016-07-21 09:30] #30 closed

[2016-07-21 09:30] kaandedeoglu commented on #25
can you please explain this better?

[2016-07-21 09:32] ahmedsafadii commented on #25
try to use it inside cell in tableview , when you scroll down the circular get fill

also if you leave the page and then back to it , same

[2016-07-21 09:35] #31 closed

[2016-07-21 09:49] kaandedeoglu commented on #31
this was a bug on my part. Thank you for pointing it out 👍
I just pushed version 1.4.1, I hope this resolves the issues.

[2016-07-21 09:52] kaandedeoglu commented on #25
it sounds like this is a scenario that should be handled by you in `cellWillDisplay`, `cellDidEndDisplaying` delegate methods, not `KDCircularProgress`.

[2016-07-21 12:19] yakoobs opened #33 "Circle animation immidiatelly finish when you press home button and get back"
1. Start animation
2. Press home button
3. Quickly get back to the app
4. Animation should be continuosly displayed but the effect is that the circle is fully drawn and animation has finished

You can reproduce it on your example project

[2016-07-30 21:10] chaocharleswang opened #37 "Not closed circle when 100% reached"
Hi,

Not closed circle when 100% reached

Please fix it.

Thanks,
Charles

[2016-07-30 21:14] #37 closed

[2016-08-22 04:02] saiidabs opened #38 "Color Transition issue"
i want the circle to start of red and transition to yellow then finally to a complete green when it hits 360 degrees . With your libary the color would just transition back , how do i stop this? i want it to be like in the image bellow
![goalbar](https://cloud.githubusercontent.com/assets/10105522/17843422/16ebd9a8-6871-11e6-931e-5ce887c4ea06.png)

[2016-08-27 20:05] kaandedeoglu commented on #38
@saiidabs I'm afraid that's not possible considering how the library works at the moment. I'll try to make it work for a future version if I find the time :-)

[2016-08-27 20:05] #38 closed

[2016-08-27 20:08] #25 closed

[2016-09-19 20:42] AtheistP3ace opened #42 "Does the Swift 3 version work in iOS 8 and 9?"
Or do we need to do something special for apps that support iOS 8.4 and 9? My app uses this library but now crashes in iOS 10. If I update the library is there anything special needed to make sure it continues running on peoples devices that are running iOS 8 and 9?

[2016-09-19 20:44] kaandedeoglu commented on #42
it should work with anything between iOS 8 and 10. Can you tell me more about the crash so we can figure it out?

[2016-09-19 21:48] OxenBoxen commented on #42
No crash for me, using the `2.3` branch. However, I am getting XCode compile time error `Failed to render and update auto layout status for UIView` when I add KDCircularProgressView as a subview inside InterfaceBuilder @kaandedeoglu . Curious if you are noticing this as well. Can provide more info if needed. Running Xcode8 , Swift 2.3

[2016-09-20 01:15] AtheistP3ace commented on #42
Hi sorry, I am in a tough position right now. We are on the verge of releasing our app but have not added iOS 10 support, one of the issues is this library. I tried using some of the preprocessor conditionals to (#ifdef) to instantiate this library if its swift 2.2 and not if its greater but they aren't working and I'm not sure why in iOS 10. Its still erroring.

Unfortunately I can't upgrade to X

[2016-09-20 07:17] kaandedeoglu commented on #42
@OxenBoxen Can't seem to reproduce the issues you described with the `2.3` branch (trying in the example project). A sample project demonstrating the problem would be sublime!

[2016-09-20 07:19] kaandedeoglu commented on #42
@AtheistP3ace Hi, I see the importance of your situation, and I'm really willing to help. Since I've already switched to Xcode 8, I can't debug Swift 2 code anymore. And I find it weird that your application which was compiled with iOS 9 SDK is crashing on iOS 10 - do you have crash logs that point to the exact location of the crash?

[2016-09-20 15:37] wendyabrantes opened #43 "podspecs for swift2.3"
Could you submit a new tag with podspec for swift2.3
I need it for a pod dependency
Thanks

[2016-09-20 20:15] Jasperav opened #44 "Problems when converting to new syntax"
Hello, I am fairly new to coding so maybe I am missing something. I was using this extension for a little app I made, nothing special. It worked great in Xcode 7.3.1. However, I converted it to xCode 8 to syntax 3.0 I think. Now, I can not build or run my app. I get these errors https://postimg.org/image/foy1cjhd1/c54503f1/ (in the picture). Can you help me out? Thank you.

[2016-09-20 21:23] kaandedeoglu commented on #44
@Jasperav Hello, you should update to the latest version, which is `Swift 3.0` compatible. If you're using `Cocoapods`, then the version is `1.5.0`. If you're adding the sources manually, then you should update it with the version that is on the `master` branch.

[2016-09-20 21:27] kaandedeoglu commented on #43
@wendyabrantes Hello, I've just published 1.4.5 version for Swift 2.3. Please try updating and let me know 😄

[2016-09-20 21:28] kaandedeoglu commented on #23
This should be solved with the latest version of the library. Can you please try and confirm?

[2016-09-21 14:54] Jasperav commented on #44
Thank you, it solved all problems except for one:
https://postimg.org/image/hpttgnsof/
If there is a fix for this I am very grateful :)

[2016-09-21 16:48] kaandedeoglu commented on #44
No problem. It's weird because it builds perfectly fine on my machine.

On a different note, I've actually took the opportunity and decided to change the `setColors` function signature to better match with the `Grand Renaming` that happened with `Swift 3` - so if you update to version `1.5.2`, the new signature is as follows: `progress.set(colors: .yellow, .white)`. I hope this fixes the problems.

[2016-09-21 18:23] kaandedeoglu opened #45 "IBDesignable support stops working when installed via Carthage"
I don't know why it wouldn't work. I would welcome any suggestions or help.

[2016-09-22 11:38] pedromancheno commented on #45
There's a workaround apparently, where you subclass the view in your own project and make that a designable. But that would requiere the view to be marked as `open` instead of `public`

[2016-09-22 14:04] kaandedeoglu commented on #45
@pedromancheno Thank you, after running some tests, I can confirm that the proposed solution works but requires too much (considering how many @IBInspectable properties `KDProgressView` has) boilerplate by the end user.

Therefore I've decided to keep everything as is and hope that Apple fixes this at some point. And if interface builder support is important, one can always choose to install `KDCi

[2016-09-22 14:04] #45 closed

[2016-09-22 16:10] Jasperav commented on #44
Wow! It works now!! Thank you very much :)

[2016-09-22 16:59] #44 closed

[2016-09-26 11:21] nazrdogan commented on #33
+1

[2016-09-27 09:56] kaandedeoglu commented on #23
Closing this due to the inactivity. Feel free to reopen if the problem persists.

[2016-09-27 09:56] #23 closed

[2016-09-27 09:58] kaandedeoglu commented on #43
Closing this due to inactivity. The podspec for Swift 2.3 version seems to be working just fine :)

[2016-09-27 09:58] #43 closed

[2016-09-27 09:58] kaandedeoglu commented on #33
@yakoobs @nazrdogan I'll take a look at this next week. Thank you for bringing this up and sorry for replying this late!

[2016-10-02 11:26] Neogene opened #47 "animateDidStop calls animationcompletionblock before end of animation"
Hi,

animationDidStop calls animationcompletionblock when started (iOS 10)

To fix it had to add a where (now in swif3 syntax is changed) clause to the if to check if the "finished flag" is true :

if let completionBlock = animationCompletionBlock, flag == true {
  //animationCompletionBlock = nil
  //completionBlock(flag)
}

btw: really nice lib

[2016-10-03 15:18] kaandedeoglu commented on #47
@Neogene The `animationCompletionBlock` has type `(Bool) -> Void`. The `Bool` argument passed with the block indicates if the animation ended on its own. If you start a new animation while another one is in motion, the completion block will still be called but with `false` as the passed argument.

I think you should check on this `Bool` value when implementing your completion logic.

I hope it wor

[2016-10-03 18:53] LJBowen commented on #23
Sorry, I have been busy working on another project. It appears to still occur. I've also noticed that if i call animate(toAngle) while another animation is occurring that is returning false for completed.

[2016-10-03 20:09] kaandedeoglu commented on #23
@LJBowen This is the intended behavior. The completed argument is true only if the animation ends on its own. You can use it to implement your completion logic. Please also see #47

[2016-10-03 21:27] LJBowen commented on #23
@kaandedeoglu Thanks!

[2016-10-04 15:10] congthanh11a opened #48 "Interface Builder is not updating, together with IB Designables warnings"
Hello

On Xcode 8, I created a blank view and set the class to "KDCircularProgress". The parameter page was updated with parameters specific to KDCircularProgress, which is a great start. However, nothing shows up on Interface Builder (still a blank, white view).

When I build the project, there was loads of warnings such as below.
Main.storyboard: warning: IB Designables: Ignoring user defined ru

[2016-10-04 21:55] kaandedeoglu commented on #48
Hello,

I believe you should set `KDCircularProgress` to both Class and Module fields in the identity inspector in Interface Builder. That should fix it.

[2016-10-05 15:08] congthanh11a commented on #48
Great, that works! Thank you very much!!

[2016-10-05 15:35] #48 closed

[2016-10-05 16:03] kaandedeoglu commented on #42
closing this due to inactivity

[2016-10-05 16:03] #42 closed

[2016-10-08 22:15] TomMajor opened #49 "Many Errors after conversion to Swift3"
Hello,

it is stated that master branch is now compatible with Swift 3.
I am using Xcode Version 8.0 (8A218a) and testing KDCircularProgress with a test project.
After CocoaPods pod install to version KDCircularProgress (1.5.2),
and opening the workspace file, Xcode wants to convert to Swift 3. This conversion fails with 66 errors in module KDCircularProgress.swift.

If it is compatible with Swift

[2016-10-09 05:48] jiangxiaopeng commented on #49
set(colors: .white, .cyan)  ,this error

[2016-10-09 09:58] kaandedeoglu commented on #49
@TomMajor Can you please send me an example project with the problem please?

[2016-10-09 14:39] TomMajor commented on #49
Hello kaandedeoglu,

thanks for the quick response.
I just create a new single view app in xcode, without any actual coding, close the project, install KDCircularProgress via CocoaPods (screenshot), open the new workspace file, then at once the Swift 3 conversion dialog pops up which leads to 66 errors, please see attached screenshot.

The thing discovered today is, if I just press save in this di

[2016-10-12 14:53] kaandedeoglu commented on #49
@TomMajor I've just ran the same scenario:

- Created a single view app, I called it `KDTest`
- Went to the project directory and did `pod init`
- Added `pod KDCircularProgress` to `Podfile`
- `pod install`
- Open the workspace
- `import KDCircularProgress` in `ViewController.swift`
- Hit build

and everything worked smoothly.

So I'm confused and interested :) It's either my Xcode or yours that's

[2016-10-12 20:28] TomMajor commented on #49
Hello kaandedeoglu,

I did not even do your last two steps, just opening the workspace is enough.
So you don't get the Swift conversion dialog at all after opening the workspace?
If I look for Xcode updates, it seems my version 8.0 8A218a should be the latest one, strange.
Could try to make a little video to demonstrate in the next days.

What about the other issue, do you have it? set(colors: .wh

[2016-10-15 08:29] ruixingchen commented on #33
faced this problem, too

[2016-10-16 15:19] ArturSkachkov opened #50 "How to continue the animation from the same place after pause?"
Pressing continue after a pause the animation, the animation track starts from the beginning of the circle.
`progress.pauseAnimation() // PAUSE

// RESUME
progress.animate(fromAngle: 0, toAngle: 360, duration: duretionExersise) { completed in
                if completed {
                    print("RESUME")
                }
}`
how to fix to the track after a pause continued movement from the sto

[2016-10-18 16:48] simonbengtsson opened #51 "Suppert subclassing"
What are your stance on supporting subclassing? As far as I know there currently is now way to for example change the radius with code. It would be awesome if the library supported subclassing or overriding currently private properties with code. I have not tried it but it might be as easy as changing private to internal?

[2016-10-24 13:17] JDandini commented on #49
The thing is: you should install Cocoapods 1.1.1 and re create the podfile usin
[code]
This was happening to me but creating all with Cocoapods 1.1.1 and re create the podfile solve the issue

[2016-10-25 12:50] MarkHendriks commented on #50
You should be able to use: progress.angle
progress.animate(progress.angle, toAngle: 360, duration: duretionExersise)

[2016-10-25 12:52] MarkHendriks commented on #50
Try using: animateFromAngle
progress.animateFromAngle(progress.angle, toAngle: 360, duration: duretionExersise)

[2016-10-26 13:28] ArturSkachkov commented on #50
Value of type 'KDCircularProgress' has no member 'animateFromAngle' !?

[2016-10-27 04:57] ArturSkachkov commented on #50
it works
progress.animate(fromAngle: progress.angle, toAngle: 360, duration: duretionExersise)

[2016-10-27 04:57] #50 closed

[2016-10-29 18:39] MarkHendriks commented on #33
@kaandedeoglu Also having this issue. Any idea on how to fix it? Thanks!

[2016-10-31 18:53] TomMajor commented on #49
@JDandini thanks for the hint.
Updating CocoaPods to 1.1.1 (from 1.0.1) indeed solved the problem here. The conversion dialog in xcode with the errors is completely gone now.
Reading the changelog for CocoaPods,
https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md
this could be this fix -> "Use Swift 3.0 by default during validation."

Also the other small issue I wrote about, the line

[2016-10-31 18:53] #49 closed

[2016-10-31 20:38] kaandedeoglu commented on #49
so glad it's useful for you. and sorry i couldn't be of more help:)

[2016-11-01 03:01] ruixingchen commented on #33
now I use a Timer to control the progress, it works but I have to handle the Timer.

[2016-11-02 20:00] jefgodesky opened #52 "Swift 3 errors?"
I think my problem is probably related to #49, but the solution there doesn't help me. I'm using CocoaPods 1.1.1 (Podfile included below). I delete the _/Pods_ directory and run `pod install`. Everything seems OK until I open up the workspace and try to build. Then I get 70 errors, all in `KDCircularProgress.swift`. They look a lot like the errors I got when I was converting my own code over to Sw

[2016-11-08 05:45] Insofan commented on #33
@ruixingchen How to fix it?

[2016-11-08 10:39] nazrdogan commented on #33
its not solution but for alternative progress.https://github.com/kentya6/KYCircularProgress

[2016-11-08 11:14] MarkHendriks commented on #33
@nazrdogan @Insofan
In my use case I'm using it as a timer function, counting down from 1 min for example. I think the bug is in `progress.angle` that always returns 360 degrees. I solved this by running a function when the app gets resumed. The basics:

[code]

Basic Timer in this example
[code]

Now I'm manually setting the progress for the remaining time. `time` is my Timer object that counts d

[2016-11-08 13:29] Insofan commented on #33
@MarkHendriks @nazrdogan Thx a lot.

[2016-11-08 13:40] yakoobs commented on #33
I think I found it
just put these line in the code:
(...)
    let animation = CABasicAnimation(keyPath: "angle")
        animation.fromValue = fromAngle
        animation.toValue = toAngle
        animation.duration = animationDuration
        animation.delegate = self
        **animation.removedOnCompletion = false**
        angle = toAngle
        animationCompletionBlock = completion

        p

[2016-11-08 13:53] MarkHendriks commented on #33
@yakoobs Can confirm this works!  Swift 3:
[code]

[2016-11-08 13:54] kaandedeoglu commented on #33
@yakoobs @MarkHendriks can you please submit a PR so I can test & merge it if it works as intended?

[2016-11-08 14:20] Insofan commented on #33
@MarkHendriks I dont have the point.How you do that?

[2016-11-09 08:57] yakoobs commented on #33
Fixed on the master branch. Issue closed

[2016-11-09 08:57] #33 closed

[2016-11-26 15:01] andre991 opened #54 "Carthage Compatible"

[2016-11-28 12:48] kaandedeoglu commented on #54
@andre991 KDCircularProgress works with Carthage. What kind of errors are you getting?

[2016-11-29 23:13] bonro001 opened #55 "Pod usage error"
Howdy,

Love the class but getting an error after I install using cocoa pods 1.1.1.  Here are my steps:

Add the pod to the pod file
pod install
add view to interface builder, with proper class and module
create outlet in associated source file

The last step is where it goes right off the rails, it does not find the class.  Importing does not solve the either.

Including a pic of the error and a

[2016-11-29 23:30] bonro001 commented on #55
Quick update, I got away from the pod and copied in the source, works great that way!  Followed this article: https://www.andrewcbancroft.com/2015/07/09/circular-progress-indicator-in-swift/

[2016-12-08 17:43] abara-kedavra opened #56 "return progress bar to initial position"
Hi, kaandedeoglu! Thank you for KDCircularProgress. Initially I have green progress bar. When I tap the button, green progress starts to disappear and black track appears. At finish I have only black track. If I tap the button again, green progress appears and starts to disappear again. I need to see green bar before I tap the button, right after the end of the animation. Is it possible to add som

[2016-12-09 12:51] kaandedeoglu commented on #56
maybe you can try to set the angle to the correct value in the completion block if the completed argument is true.

[2016-12-09 19:00] abara-kedavra commented on #56
I tried to add "self.progress.angle = " to "if completed", but it didn't work. When I add "progress.angle = " to other place after other action - it started to work. And it only works if I have this code in two places (both of this strings). It's strange, but it works. Thank you.

[2016-12-16 13:55] #47 closed

[2016-12-23 11:15] #56 closed

[2017-01-03 15:42] RyanHop3 opened #59 "Empty Space surrounding the progress indicator within the UIView"
Hi, I have noticed that when the KDCircularProgress UIView is implemented there is a lot of empty space within the UIView surrounding the indicator, which takes up a fair amount of screen real-estate(see attached photo). Is there a way to reduce the amount of empty space?
![kdprogress_example](https://cloud.githubusercontent.com/assets/19892764/21612959/1c7203b6-d1cb-11e6-8725-af453eb5f311.png)

[2017-01-03 15:47] kaandedeoglu commented on #59
@RyanHop3 Hello,

This has come up before. `KDCircularProgress` always adds some padding to prevent clipping glows. There's a branch called `configurable radius` that you can check out that allows you to play with the padding. At some point (when I find the time & energy to invest in this rather big revamp) it will land in the master branch but will cause some breaking changes. Let me know if this

[2017-01-03 15:48] RyanHop3 commented on #59
Thanks for the reply. I'll have a look into it!

[2017-01-05 09:13] kaandedeoglu commented on #55
@bonro001 I assume this is resolved. Closing this 👍

[2017-01-05 09:13] #55 closed

[2017-01-06 03:59] iBicha opened #60 "remove isUserInteractionEnabled = false"
In my context, for further customization, i wanted to add a uibutton to the circular progress bar as a subview, and it drove me crazy because the button wouldn't work, only to find out later that `isUserInteractionEnabled = false` is set on `init`

the question is, does `isUserInteractionEnabled` affect the circular progress bar? (not as far as i know, please correct me if i'm wrong)

if that's th

[2017-01-06 07:56] kaandedeoglu commented on #60
@iBicha Yes the `isUserInteractionEnabled = false` on init.

This is a tradeoff with no clear winner to be honest. Imagine you add the circular progress on top of a `UIButton`, which would make it untappable. In any case, `isUserInteractionEnabled` is public so you are free to change it from within your application.

[2017-01-08 21:04] iBicha commented on #60
right, but since it is set in the `init` it will override the property if it is set in the interface builder (which is why i spent quiet some time before i figured it out, because when i saw the isUserInteractionEnabled property checked in the interface builder, i assumed it will be the case in runtime)

I suggest removing it, (setting it to neither true or false) so that the default behaviour can

[2017-01-08 21:12] kaandedeoglu commented on #60
That makes perfect sense! Send a PR if you'd like and I'll merge it 😊

[2017-01-09 06:57] #60 closed

[2017-01-16 10:54] variiance opened #62 "Heavy flickering on iPad Air"
Hi,

I am experiencing heavy flickering while testing the progress bar on an iPad Air.
UIView size is 600x600, using iOS 10.2.
I have also tested on an iPhone 5s, where the progress bar works fine, no issues on simulators either.
Unfortunately I am not allowed to upload a video, so I am attaching screenshots.
The progress bar seems to disappear and reappear rapidly, while the track stays put.

![s

[2017-01-16 12:35] kaandedeoglu commented on #62
Is that a `UIVisualEffectView` on the background?

[2017-01-16 14:36] variiance commented on #62
No, the background is a static image stored in assets, using a UIImageView.
All views are siblings.

[2017-01-16 16:02] kaandedeoglu commented on #62
I can't really reproduce the issue since I don't own an iPad Air. I'll try to create a 600x600 progress on the iPhone and see if the problem occurs.

Meanwhile, you can check if you can reproduce the issue in a new project that has no app logic but only the progress view.

[2017-01-16 21:39] variiance commented on #62
I couldn't reproduce the issue on a clean project. I will take another look at the code in the original one.

[2017-01-25 09:33] sibek opened #63 "Gradient along the circle"
I want to use just two colors and show linear gradient along the circle like on this picture:
https://raw.githubusercontent.com/kaandedeoglu/KDCircularProgress/master/Assets/screenshot3.jpg

How can I do that please?

[2017-01-25 10:04] kaandedeoglu commented on #63
[code]

should do the trick!

[2017-01-25 10:56] sibek commented on #63
It's working for static image, but if I want to animate the progress it looks like the gradient is rotating. Imagine progress with white color for 0% and red for 100%. What I'm looking for is to see flawless gradient from white to red where white is always in 0% and full red in 100%.

Like this:
![circlegradient](https://cloud.githubusercontent.com/assets/19273718/22287980/436fd408-e2f5-11e6-98ff-

[2017-01-25 11:04] kaandedeoglu commented on #63
I'm afraid this will not work - see #38

If you want to stop the gradient from rotating, try setting `gradientRotateSpeed` to 0.

[2017-01-25 11:11] sibek commented on #63
I see. Thanks anyway for your effort.

[2017-02-07 13:01] navakanth opened #64 "Progress percentage completion"
Add text label to show progress percentage completion in centre for circular progress

[2017-02-12 04:48] kor45cw opened #65 "gradient with track color"
I want to gradient background track color

[2017-02-12 04:49] kor45cw opened #66 "shadow circle progress"
I want to shadow just only with circle progress bar

[2017-02-12 04:55] #66 closed

[2017-02-13 11:51] #63 closed

[2017-02-13 11:51] #59 closed

[2017-02-13 11:51] #54 closed

[2017-02-24 15:58] shivang2902 opened #67 "Add thumb at the end of progress line"
First of all thanks for the wonderful lib, is there any support for the thumb at the end of the progress line

Thanks

[2017-02-28 14:17] werneroi opened #68 "restarat the animation after pause"
Hi.
Is there an easy way to resume the animation after using  pauseAnimation()?
Thank you :)

[2017-03-01 06:38] shivang2902 commented on #67
For now i am trying this code, it is add the thumb but at wrong place

`func rect(forDegree degree: Float, andRect rect: CGRect) -> CGRect {

            var x: Float = self.xPosRound(forAngle: degree, andRect: rect) - 6.9
            var y: Float = self.yPosRound(forAngle: degree, andRect: rect) - 6.9
            return CGRect(x: CGFloat(x), y: CGFloat(y), width: CGFloat(6.9), height: CGFloat(6.9

[2017-03-01 06:42] shivang2902 commented on #67
Can you please help me on this

Thanks in advance !! :)

[2017-04-06 16:22] Maxwell-Thom opened #69 "Not able to set solid color without passing in two colors"
if i attempt to set the progress bars color using the following:

`self.downloadView.downloadProgressBar.set(colors: UIColor(red: 128.0, green: 211.0, blue: 64.0, alpha: 1.0))`

The color gets set to white (as you've documented), but if i pass in two colors with very little difference i can get close to a solid color:

`self.downloadView.downloadProgressBar.set(colors: UIColor(red: 129.0, green: 2

[2017-04-06 16:49] kaandedeoglu commented on #69
You actually just set one color for a solid progress.

One problem I see is with your color construction. UIColor takes color values that are 0.0 and 1.0. So divide every value with 256 and you should be fine!

[2017-04-07 02:45] Maxwell-Thom commented on #69
Ahhh duh! of course! Thank you for such a prompt reply!

[2017-04-07 02:45] #69 closed

[2017-04-23 17:46] mikecbone opened #70 "Dividing By Zero"
More for awareness here but if you're calculating the angle that the circle progress bar needs to go to, and you end up dividing by zero (I know you can't divide by zero but an example would be you're dividing two values and they both haven't been set and their default is zero) the simulator will run the app fine but running the phone on a device will cause it to freeze with no error or crashing.

[2017-05-03 04:09] Denages opened #71 "Using in Objective C project"
I'm trying to use KDCircularProgress in my project written in Objective C:

[code]
And have this strange result.:
![kdcircularprogress](https://cloud.githubusercontent.com/assets/6689478/25647930/ac8b3d5e-2ff0-11e7-8315-a7bd6fa2d247.gif)

[2017-05-24 13:14] stancho-dynoden opened #72 "Carthage building the scheme fails"
Hi, I have been using the circular progress for sometime now, today trying to update carthage and this is happening. Carthage is fetching some old versions every time, and every time is different version. Could you tell me if I could fix that somehow. Many thanks! The output in the terminal is below:

*** Checking out KDCircularProgress at "1.3.1"

*** Skipped building KDCircularProgress due to th

[2017-05-24 16:08] stancho-dynoden commented on #72
I have sorted the problem now thank you.
The problem was caused because I was updating all dependencies(which should not be a problem), so I did them all one by one and it worked.

[2017-05-24 16:09] #72 closed

[2017-05-24 21:14] matthewfx opened #73 "Random progress being showed."

[2017-05-24 21:25] #73 closed

[2017-05-25 14:48] kaandedeoglu commented on #73
@matthewfx what was the problem?

[2017-05-31 04:50] matthewfx commented on #73
My bad. All good. Sorry for that!

Kind regards,

Mat

On 26 May 2017, 2:49 AM +1200, Kaan Dedeoglu <notifications@github.com>, wrote:

[2017-06-23 14:13] Yetispapa opened #74 "Subclassing for KDCircularProgress"
Is it somehow possible to subclass KDCircularProgress  Cause I have a different setup of my project this would help me a lot. I think there's already an issue about subclassing.

Thank you

[2017-06-23 19:12] kaandedeoglu commented on #71
@Denages  That is weird, can you please send me a sample project reproducing this effect so I can debug?

[2017-06-23 19:14] kaandedeoglu commented on #74
@Yetispapa  I'm not sure if I want to do that, subclassing support means making `KDCircularProgress` `open`, which will also require most properties to become `open` exposing many implementation detail variables I prefer to hide. What use case do you have in mind?

[2017-07-13 13:59] Widiyanto opened #75 "how to create Track Color Gradient ??"

[2017-07-13 14:31] Widiyanto commented on #65
I wan't too. Have you found a solution??

[2017-08-01 13:15] santhoshs5 opened #76 "Need your help."
I want to use progress as gif which starts from zero and ends to 360 and again starts at zero and goes till 360.
I will stop the animation manually when i am done by calling stop animation.

is there any animate forever method is there. if not how can I achieve this.

[2017-08-10 19:21] zanesc opened #77 "Track Thickness issue"
I would like the track to be fitted to the view frame it is in. However, once the track thickness is lowered, it starts becoming smaller and smaller and not fitted to the frame it is in. I have content mode set to Scale To Fill. Is it possible to keep the progress circle fitted to original frame while setting the thickness to 0.2?

<img width="518" alt="screen shot 2017-08-10 at 3 18 37 pm" src="h

[2017-08-11 08:54] kaandedeoglu commented on #77
The space surrounding the progress is intentional. Please look at the discussion in #59.

[2017-08-14 19:03] Jasperav opened #78 "Property cannot be marked @IBInspectable because its type cannot be represented in Objective-C"
I am using the newest Swift version and the newest xCode version. I get that error at this function:

    @IBInspectable public var glowMode: KDCircularProgressGlowMode = .forward {
        didSet {
            progressLayer.glowMode = glowMode
        }
    }

Have you plannend a upgrade to swift 4?

[2017-09-13 16:55] jyounus commented on #78
Same here, any updates?

[2017-09-13 17:03] Jasperav commented on #78
I just removed that function hehe, it works now

[2017-09-13 17:04] jyounus commented on #78
I found this fork with Swift 4 updates, so currently using this: https://github.com/BalloonInc/KDCircularProgress

[2017-09-13 17:11] #78 closed

[2017-09-13 17:12] kaandedeoglu commented on #78
Just pushed a fix on master. Let me know.

[2017-09-13 17:30] #62 closed

[2017-09-13 17:30] #51 closed

[2017-09-13 17:30] #52 closed

[2017-09-13 17:42] jyounus commented on #78
It compiles fine for me, and seems to function fine. :D

[2017-09-26 13:30] Kianoosh76 opened #80 "Swift 4 support"
Hi, I'v faced a problem since I upgraded my xcode.
When I try to build the project, this compile error is raised.

[code]

Property cannot be marked `@IBInspectable` because its type cannot be represented in Objective-C

[2017-09-26 13:31] kaandedeoglu commented on #80
This is fixed on `master`, which is updated for Swift 4.

[2017-09-27 02:54] return1225 commented on #80
Thanks! The same issue for me, and it was fixed with pulling the latest master branch and included it in my project.
However, I try to implement the swift sample code and return pure black circle only.
Anything wrong for me?

[2017-09-28 03:30] return1225 commented on #80
Yeah...I think I'm so foolish forgetting to setup angles in the end. Anyway, it's work now.

[2017-09-28 05:00] return1225 opened #81 "progress color manipulation"
Excuse me, how could I control the gradient colors range between startAngle to anyAngle(eg. 135 degrees) which could be various values because, by default, the color gradient seems to start from 0 to 180 degrees and then reverse gradient colors which I set.

[2017-10-03 10:39] NallapatiMalleswari commented on #80
I am also facing the same problem like the gay  Kianoosh was faced.But i dont know how to solve the problem .can you help me

[2017-10-03 12:07] return1225 commented on #80
What I did is just git from master branch and add the main class to my project rather than cocoa pod which maybe didn’t sync the latest version yet.

[2017-10-05 13:38] gencaysahinn opened #82 "Indeterminate Progress"
Hi,
Firstly thanks for this great lib.
I would like to show indeterminate progress. Is it possible with this lib?

[2017-10-10 13:39] stancho-dynoden commented on #81
I have the same problem, could you please answer on this issue.
Many thanks!

[2017-10-10 23:39] Kiplol commented on #80
Can confirm that the Cocoapods version of 1.5.2 still has @IBInspectable error.

[2017-10-11 05:49] NallapatiMalleswari commented on #80
no , resolved .

On Wed, Oct 11, 2017 at 5:09 AM, Kiplol <notifications@github.com> wrote:

[2017-10-11 10:26] neetrath commented on #80
Using KDCircularProgress (1.5.2) with Swift 4.0 still error

[2017-10-11 10:27] kaandedeoglu commented on #80
Sorry for the delay. I've had problems with pushing a new Cocoapods version up. So both Carthage & Cocoapods users must point to the `master` branch to get the `Swift 4` version.

[2017-10-11 22:45] cjlarsen commented on #80
In your podfile use `pod 'KDCircularProgress', :git => 'https://github.com/kaandedeoglu/KDCircularProgress'` for the time being

[2017-10-23 09:10] gaecer commented on #81
Same problem, but there is no answer after one month 👎

[2017-10-23 09:14] kaandedeoglu commented on #81
@return1225 Sorry I must have skipped this issue. Could you please explain better what you're trying to do? You want the gradients to apply only to a specified range?

@gaecer This is an open source project, I am in no way responsible of developing features to cover all your use cases, comments like this don't help anyone. PR's are always welcome.

[2017-10-23 09:46] return1225 commented on #81
Hi @kaandedeoglu ,
Thanks for replying. Here is the thing. I'm trying to draw a dynamic progress with gradient color depending on variable values but the gradient color always was rendered from 0 to 180 degree and repeat conversely. Which means the gradient color range can't be controlled by any specific value of endpoint.
For example, gradient color rendered with (red,green,blue) and specific pro

[2017-10-23 10:24] NallapatiMalleswari opened #83 "How to change progress color"

[2017-10-23 10:26] kaandedeoglu commented on #83
changing the contents `colors` property should do the trick.

[2017-10-23 12:21] NallapatiMalleswari commented on #83
progress.progressColors = [UIColor .orange]  by using this line  i can change the color ,but how to use RGB values ,can you help me.

[2017-10-23 12:22] kaandedeoglu commented on #83
How about something like

[code]

[2017-10-23 12:48] NallapatiMalleswari commented on #83
I tried like that ,but not working

[2017-11-02 00:33] fairs-222 commented on #78
public var glowMode: KDCircularProgressGlowMode = .forward {
    didSet {
        progressLayer.glowMode = glowMode
    }
}

[2017-11-02 10:38] NallapatiMalleswari opened #84 "how to give shadow to CircularProgress Bar"
Can you help me.

[2017-11-02 12:56] #83 closed

[2017-11-12 12:15] mikecbone commented on #80
Using Cocoapods I've changed my pod file from 1.5.2 to getting the master branch as 'cjlarsen' suggests, and I've gone from the one initial error as described in this thread, to 12 saying "xxx is ambiguous for type lookup in this context"

[2018-02-10 04:13] nrvraghu opened #85 "Forward property is not working in swift"
Hi KDC Team,
 I had been used this in swift it is worked well, but in swift 4
The following code is showing error
**@IBInspectable public var glowMode: KDCircularProgressGlowMode = .forward {
        didSet {
            progressLayer.glowMode = glowMode
        }
    }**
error:-
 **Property cannot be marked @IBInspectable because its type cannot be represented in Objective-C**

from the auto-corr

[2018-02-13 13:18] nrvraghu commented on #85
For the above issue, please use this
pod 'KDCircularProgress', :git => 'https://github.com/kaandedeoglu/KDCircularProgress'

[2018-02-13 13:18] #85 closed

[2018-02-15 14:58] githubhero opened #86 "Not an issue, just a (gentle) question"
Hi, I'm trying to use your KDCircularProgress to do something I'm not sure KDCircularProgress can do (I could not do it, anyway).

I have a slider and my slider goes from -180 to 180.
The starting value of the slider is -180.

When the slider is -180, I want the entire progress track "absent".

When the slider is -90, I want 25% of the track (starting from 180 degrees and clockwise),
when 0, 50%,

[2018-02-16 15:07] kaandedeoglu commented on #84
Can you please elaborate on what you mean?

[2018-02-16 15:07] kaandedeoglu commented on #86
Hey, did you try playing around with `startAngle` property. Like setting it to -180?

[2018-02-16 15:37] githubhero commented on #86
Finally, I found a way.

I set the UISlider minimum value at 0 (not -180) and its maximum value to 360 (not +180).

In XCode, I set Circular Progress Angle to 180 and Start angle to 90 (don't ask me why, but this way anything works fine).

Finally, I use some Swift computed property to do some basic math.   :-)

Thanks for your kind answer!

[2018-02-16 15:37] #86 closed

[2018-02-16 15:54] NallapatiMalleswari commented on #84
Haven't done it .okay I will work on it now

On 16-Feb-2018 8:37 PM, "Kaan Dedeoglu" <notifications@github.com> wrote:

[2018-03-12 14:14] githubhero opened #87 "Central color"
One question: in your examples, I see you have a grey background inside and outside the control.

I don't know why but, if I insert the control in a viewcontroller with (eg.) a black background, the center of the control is always white. Is there any way to change its color?

[2018-03-12 14:29] githubhero commented on #87
Sorry, it's the Progress inside parameter   :-)

[2018-03-12 14:29] #87 closed

[2018-03-27 13:51] n3o999 commented on #59
Hi, now it's possible remove the padding around a View?

[2018-03-31 07:22] githubhero opened #89 "flatMap is deprecated"
Hello, after installing the latest XCode version (Version 9.3 (9E145), Swift 4.1), I got a warning in `KDCircularProgress.swift`:

Can I safely replace `flatMap` with `compactMap`?

[2018-04-01 22:14] nk9 opened #90 "MacOS version"
I'd like to use this on MacOS with AppKit. Before I spend time porting it, I thought I'd ask if someone has already done this. Or if there's a reason why this would be unadvisable.

[2018-04-05 11:45] kaandedeoglu commented on #89
Yes I think we should start using `compactMap`, do you mind opening a PR for it :-)

[2018-04-07 22:57] TomMajor commented on #89
The warning is only in one place
checkAndSetIBColors()
Here is an explanation about the case
https://useyourloaf.com/blog/replacing-flatmap-with-compactmap/
I could sure make an PR, but I am not sure about the full intention for this code. Is it only to make sure that there is at least one color not nil? Would it maybe better to have default values for the IB colors so this check is not needed at

[2018-05-17 18:12] x-hovo-x commented on #80
Still same issue for me 1.5.2 Swift4.1

[2018-05-22 10:47] iVoGia opened #93 "Error "represented in Objective C""
I pod this framework to my project.
After that, it was appear this errror "Property cannot be marked @IBInspectable because its type cannot be represented in Objective C"
In the function below:
@IBInspectable public var glowMode: KDCircularProgressGlowMode = .forward {
        didSet {
            progressLayer.glowMode = glowMode
        }
    }
So, I cannot build the project.
How to fix it?

[2018-05-30 05:58] Pankajrana01 opened #94 "How to get Progress Layer x-axis and y-axis."
Hello,
firstly thanks for the great lib.

I need your help to find out the progress layer x and y-axis on the tap of that layer and get a percentage of the layer to fill color. Progress layer fills the color where we tap on that, So please help me out with this.

Thanks

[2018-06-30 06:16] bbvch13531 commented on #93
[code]
I resolve this compile error in this way.

[2018-07-04 15:37] TarekSalama opened #96 "Progress color changes to white at angle = 360"
I am using KDCircularProgress as a counter so whenever the user taps on a button, the counter would increase by 1 and the progress gradient would increase until it hits 360. However I noticed some counter numbers such as 7 (and any number divisible by 7), 33, and 100 cause its color to be white when it reaches 360, instead of the full gradient color.

Here's a simplified code of the UIViewControll

[2018-08-19 11:05] imrabti commented on #89
@kaandedeoglu I also get this deprecated message on Swift 4.1, I saw that there is already a PR that fix this but still not merged. https://github.com/kaandedeoglu/KDCircularProgress/pull/95

[2018-08-19 11:07] kaandedeoglu commented on #89
Just merged, thanks for the heads up 👍

[2018-08-19 11:07] #89 closed

[2018-09-04 20:17] #93 closed

[2018-09-05 10:55] artem-umanets-bold opened #98 "Gradient distribution"
If we have three colours for the gradient: [Red, Green, Blue]
When circular progress is fully drawn, it is something like [Red, Green, Blue, Blue, Green, Red].

It would be nice to be able specify if I want this union of colours or I always want to have the three colours visible independently of the progress.

Examples:
For 10% I will fully see [Red, Green, Blue]
For 50% I will fully see [Red, Gre

[2018-09-19 10:39] perlasivakrishna commented on #78
I updated to master branch using version 1.5.2, But still im getting error. I can see that Enum is not exposed to obj-c

[2018-09-30 17:17] RaoulNL opened #99 "How to use the colors?"
Hi,

Say I want to start the progress at the top. The progress color should begin with a light grey color and end with an (e.g.) red color when it has reached up to 360 degrees.
My question is how would I set this up?
startAngle would be -90.
clockWise would be true
What would be the values for gradientRotateSpeed and the colors?

Any help is greatly appreciated.

[2018-10-10 08:00] YBHwang opened #100 "Does it support Swift 4.2 ??"
Maybe I saw this Problem in the Code, "Could not build Objective-C module 'KDCircularProgress'".

[2018-10-17 19:37] ferrerod opened #102 "update 1.5.3 to CocoaPods"
_Originally posted by @ryanfelton in https://github.com/kaandedeoglu/KDCircularProgress/pull/101#issuecomment-430603040_

@ryanfelton is correct. Currently, the CocoaPod Spec https://cocoapods.org/pods/KDCircularProgress/ points to KDCircularProgress 1.5.2 so trying to compile results in Swift compiler errors now, not just warnings.

[2018-10-19 03:11] YBHwang commented on #100
Oh! It's Working... My mistake :(

[2018-10-19 03:11] #100 closed

[2018-10-19 12:01] ryanfelton commented on #102
👍

[2018-10-19 14:47] SaezChristopher commented on #59
i hope you will merge it asap. I need it too

[2018-10-19 14:49] SaezChristopher commented on #59
the branch is not up to date toward master. iremove the lib

[2018-10-24 09:19] kaandedeoglu commented on #102
Sorry to all that has been waiting for the Cocoapods version upgrade, I had some problems with pod trunk push commands, I'll try to sort them out next week. Meanwhile you can always pull the master commit

[code]

[2018-11-20 16:45] ryanfelton commented on #102
@kaandedeoglu An update on fixing the Cocoapods push to trunk? I would like to use the official release. Thanks!

[2018-12-05 18:57] PAlkisP commented on #102
@kaandedeoglu Any news on this?

[2018-12-06 07:06] Faydee1220 commented on #102
Try this:
pod 'KDCircularProgress', :git => 'https://github.com/kaandedeoglu/KDCircularProgress.git', :branch => 'master'

[2018-12-06 07:09] ferrerod commented on #102
The problem is that this approach won’t allow us to ‘pin’ the pod version to a particular tag/version.
It would take less time to reply to the email vs just fixing it :-)

[2019-01-30 06:08] libern opened #104 "Track inner shadow support"
How to achieve this?
1. track background with inner shadow

![image](https://user-images.githubusercontent.com/1830640/51959865-58c9f880-2491-11e9-9eeb-a5a64bfcf963.png)

[2019-02-09 16:09] libern commented on #102
Any updates?

[2019-03-25 22:15] iamsanketray123 commented on #81
Any fix for this yet?

[2019-03-26 11:58] iamsanketray123 commented on #63
This would be a nice feature to have. I am sure this is a requirement for a lot of people.

[2019-03-27 14:37] gregorymaertens opened #106 "xcode 10.2 / swift 5 support"
xcode 10.2 with swift 5 was released a few days ago.
.swift-version should be upgraded at swift 4 at the minimum.
Any plan on making a new release anytime soon to address this?

Thanks!

[2019-04-27 15:19] #106 closed

[2019-04-27 15:36] kaandedeoglu commented on #102
Released version 1.5.4 on Cocoapods that points to what is master at the moment

[2019-04-27 15:56] #84 closed

[2019-04-27 18:11] kaandedeoglu commented on #80
Alright version 1.5.4 released on Cocoapods. Closing this one..

Sorry for the incredible delay, was going through stuff 🎈

[2019-04-27 18:11] #80 closed

[2019-04-27 18:35] #102 closed

[2019-04-27 19:51] ferrerod commented on #102
Not in front of my computer...

Does 1.5.4 point to a tag on git, or a specific commit, or “HEAD”? The phrase “what is master at the moment” is ambiguous.

[2019-04-27 19:51] kaandedeoglu commented on #102
@ferrerod  It points to the 1.5.4 tag

[2019-04-27 23:54] ferrerod commented on #102
+1

Sent from my iPhone

[2019-04-28 13:03] tamir-maoz opened #109 "ObjC - setColors / progressColors not found"
Hi,
upgraded version from 1.5.2 to 1.5.4. i have a mix ObjC/Swift project  and i'm unable to set the progress colors from my ObjC classes.
getting the following error:
"Property 'progressColors' not found on object of type 'KDCircularProgress *'"
also unable to use set(colors:) or any other function i found to set the progress colors.
am i missing anything ?
how should i set the progress colors fr

[2019-04-28 14:22] kaandedeoglu commented on #109
Hey,

I've just pushed an update, can you please `pod update` and try again?

[2019-04-28 14:53] tamir-maoz commented on #109
Hi,
Thanks for the quick response.
two things:
1. I also noticed that "progress" property is also not found by objC classes
2. should i pull a specific branch? currently i'm pulling pod 'KDCircularProgress' and see no updates...

Thanks again.

[2019-04-28 15:00] kaandedeoglu commented on #109
This was a hotfix so I just moved tags forward. You might need to downgrade to 1.5.2 `pod update` and then re-upgrade to 1.5.4 followed by a final `pod update`

[2019-04-28 15:16] tamir-maoz commented on #109
Hi,
i have followed you suggestion but still same issues.
i think the problem is with set(colors: UIColor...) func.
it is the public version for set colors but UIColor... syntax is not supported by ObjC so the setter fails to get exposed to ObjC.
Does it make sense?

Thanks.

[2019-04-28 15:18] kaandedeoglu commented on #109
You can directly set to `progressColors` property. Like:

[code]

[2019-04-28 15:20] tamir-maoz commented on #109
This is exactly how i use it, see image attached:
![Screen Shot 2019-04-28 at 18 19 39](https://user-images.githubusercontent.com/40631916/56866480-41dc6900-69e2-11e9-9a5b-49fbc6a71dcc.png)

[2019-04-28 15:26] kaandedeoglu commented on #109
Interesting, I just started a new Objective-C project and everything works for me. I had to uninstall - reinstall as stated above after pushing the fix. Are you sure you did that step?

<img width="713" alt="image" src="https://user-images.githubusercontent.com/1566836/56866534-967be600-69da-11e9-80fb-46815e9c18ad.png">

[2019-04-28 17:48] tamir-maoz commented on #109
Thanks for your support!
Well, i just looked at your last commit (488603e40685007b5fdbec6ea15c452512a3a2db) on github that added:
@objcMembers
to KDCircularProgress class.
however, i do not see that addition when i pull the repo via pods.
i tried:
force downgrade to 1.5.2 -> upgrade back to 1.5.4
remove KDCircularProgress from pod file -> re-adding KDCircularProgress to pod file

both resulted the

[2019-04-28 17:49] kaandedeoglu commented on #109
Okay, one more idea: please do `pod cache clean 'KDCircularProgress' --all` before doing the downgrade-upgrade dance

[2019-04-29 06:03] qcasxy opened #110 "Carthage Compatible"
I got the following error when I used the `carthage update --platform iOS` upgrade：
[code]
Xcode 10.2

[2019-04-29 06:39] tamir-maoz commented on #109
Hi @kaandedeoglu ,
I'm happy to say, clearing the pod cache did the trick!
Your help is much appreciated, Thanks for the support.

[2019-04-29 06:39] #109 closed

[2019-05-07 08:00] kaandedeoglu commented on #110
Hey, interesting. Unfortunately I'm able to reproduce the issue (my Carthage installation succeeds). From the error message it seems like git is failing to fetch the repo. Can you perhaps try the `carthage update --use-ssh --platform iOS` to see if it makes any difference?

[2019-06-07 11:14] WCChimiiz opened #112 "Can't stop animate."
I use
[code]
Then I want to stop animate I try call
[code]

It's work. But a few moment in console print completed also.

How I fix it ?

Thank you.

[2019-07-24 05:57] MourinhoLove opened #113 "How can I remove background circular"
I only need a progress bar that doesn't require a background circle

[2019-11-06 17:02] nadimalam commented on #98
hi, please can you tell me if you were able to achieve this effect so that the gradient doesn't repeat itself after 50%?

[2019-11-06 17:06] nadimalam commented on #81
hi, is there any way to get this to work yet as i also need the same thing.

[2019-11-06 18:22] nadimalam opened #115 "Add Icon Image to the end of Progress Line?"
Is this possible to do?

I want to add a image to the end of the progress line, which follows the line animation around the circle when its making progress.

[2019-11-12 12:25] kaandedeoglu commented on #115
I'm afraid this is not possible with the current version of KDCircularProgress. I believe to achieve this, you'd have to fork the library and modify the `draw(in ctx: CGContext)` method and/or place the image at the correct location while inspecting the `angle` property

[2019-11-15 11:33] nadimalam commented on #115
thank you for your response, just a question is on going support and updates now abandoned then for this framework or are you still working on it? Do you know of any alternative framework that can achieve this feature?

thanks

[2019-11-15 11:41] kaandedeoglu commented on #115
This library came out of my own needs while developing an app a while back. I think the features and usage has pretty much solidified, and I avoid doing anything that would break the API or backwards compatibility (a couple thousand apps still use it afaik).

So nowadays it's mostly bug fixes with new iOS version when they arise.

That being said, I welcome PRs, given that they won't cause functio

[2019-11-15 12:01] nadimalam commented on #115
Cool, thanks your reply, i understand mate. It was more for the future as that specific requirement i think could come up in an app im working on. I don't have the time now, but when i do need it then i will try fork a separate branch and work on this feature. Thanks!

[2020-01-09 03:15] swhitlow opened #116 "Swift 5.0 compatible"
Is this library Swift 5.0 compatible yet? Thanks!

[2020-03-12 11:29] kaandedeoglu commented on #116
Yes, the library has been Swift 5 compatible since April 2019

[2020-03-12 11:29] #116 closed

[2020-05-18 00:48] toshi0383 opened #118 "Remove assert code?"
Hi useful library!

## Issue
I use 1.5.4 (via CocoaPods) and sometimes have crash on `assert`.
I don't want this behavior as it works fine without these assertion, so re-installed via Carthage so `assert` is always disabled in Release build.

## Proposal

Can we remove these assertions?
We might want to ensure these conditions by writing tests or using custom build flags... etc, not affecting in c

[2020-06-19 07:47] HamzaAtcoding opened #119 "crash on iOS 9.3.6"
while using this framework on devices containing iOS latest `9.3.6 version` , there is a crash on the following

[code]
of
` private class KDCircularProgressViewLayer: CALayer
`

Xcode: 11.5
MacOS: Catalina
Device: iPad 3

[2020-06-19 07:48] HamzaAtcoding commented on #119
@kaandedeoglu you're help would be appreciated

[2020-07-02 14:37] StevenBolin commented on #119
I am having the same problem.

[2020-07-02 14:38] kaandedeoglu commented on #119
Do you have any crash logs, screenshots, or any leads you can post here please?

[2020-07-02 14:40] StevenBolin commented on #119
Sure.
<img width="1319" alt="Screen Shot 2020-07-02 at 9 39 02 AM" src="https://user-images.githubusercontent.com/10549473/86372563-f78af380-bc47-11ea-8763-8518d1a5dc12.png">

[2020-07-27 07:51] HamzaAtcoding commented on #119
i have my live app crashing to this, please provide a fix for it or point me in the right direction to the resolution of this crash. screenshot and .log file is attached for further debugging process.
Just remember, to reproduce this you'll need ipad with lower ios version i.e `9.3.6` version and a latest xcode i.e `11.5`

<img width="1369" alt="Screen Shot 2020-07-27 at 12 36 54 PM" src="https://

[2020-07-27 08:13] kaandedeoglu commented on #119
@HamzaAtcoding I unfortunately don't own such device to reproduce the crash. One possible solution comes to mind:

It seems like the crash occurs while KDCircularProgress is being initialized through the IB. (KDCircularProgress is created through init(coder:) but KDCircularProgressViewLayer is created through init())

One thing you can try is to only keep a container UIView for KDCircularProgress

[2020-07-27 11:26] HamzaAtcoding commented on #119
as per your recommendation i have made the KDCircularProgress in `viewdidload` for UIView container programmatically,

[code]
these are my findings,

whatever init() i use
`required public init(coder aDecoder: NSCoder)`
going through storyboard

`convenience public init(frame:CGRect, colors: UIColor...)`
going through convenience init

` override public init(frame: CGRect)`
going through public

a

[2020-08-04 11:39] kaandedeoglu commented on #119
@HamzaAtcoding I'm really sorry, but I don't have anything. I'm not clear how a simple init is crashing..

[2020-08-05 05:12] HamzaAtcoding commented on #119
any debugging that would help?
@kaandedeoglu

[2020-08-05 10:41] HamzaAtcoding commented on #119
could this be the [issue](https://github.com/google/sanitizers/issues/1067#issuecomment-477489122) with older iPads not having enough memory?
i got this through debugging session with address sanitizer
[code]

[2020-08-05 10:44] kaandedeoglu commented on #119
I don't think so, this library was initially developed during iOS 9 was the latest, and it used to work fine. I unfortunately don't have devices / Xcode versions to reproduce it on.

If I were you, I would start dissecting and see what causes the crash. For example just try to keep KDCircularProgress & KDCircularProgressLayer, removing more and more properties as you go along. I have a suspicion t

[2020-08-06 11:22] HamzaAtcoding commented on #119
After a solid dev day on trying to fix this, i can say for sure that this is **110% issue related to older iPads having less memory** (i can confirm this by running this on xcode >11.5, compiling and not crashing on it), in the binaries updation of xcode 11.5 it most definitely updated something that causes older iPads memory to take a hit, after-all apple is known for deprecating their older prod

[2020-10-24 08:23] philmodin commented on #56
I'm having an issue with the completion on animate. It returns false until I run animate again. Is this intended?
Expected it to run the completion after animating and returning true without having to rerun.

[2020-10-27 04:26] kou8910 opened #120 "KDCircularProgress.framework: mach-o, but wrong architecture"
xcode Version 12.0.1
macos 10.15.7
swift5

xib中调用 KDCircularProgress 报错，
ViewController.xib: error: IB Designables: Failed to render and update auto layout status for UIView (i5M-Pr-FkT): dlopen(KDCircularProgress.framework, 1): no suitable image found.  Did find:
	KDCircularProgress.framework: mach-o, but wrong architecture

[2020-11-09 08:13] vinayak-nickelfox commented on #67
Has anyone found how to implement thumb on progress bar?

[2021-01-08 12:39] #115 closed

[2021-01-09 10:25] ConfuseIous commented on #120
This issue exists only on the new M1 chips, try a computer with an Intel chip to fix it.

[2021-05-07 09:18] fukemy commented on #113
how to transparent background?

[2021-05-07 09:29] fukemy commented on #59
thanks, im gonna remove this lib

[2021-05-12 19:11] #70 closed

[2021-06-15 14:42] budnik1990 opened #121 "Make the scale identical to the device."
Do upgrade from:
`UIGraphicsBeginImageContextWithOptions(size, false, 0.0)
`
to:
`UIGraphicsBeginImageContextWithOptions(size, false, UIScreen.main.scale)
`

[2021-07-28 05:49] oNguyenNgocBan opened #122 "How can I create progress circular like this"
My design is like this, is it possible to use KDCircularProgress?

![download progress](https://user-images.githubusercontent.com/29974488/127270409-016061ca-4a9f-4a16-b61d-3f6498089bc0.png)

Thanks

[2021-09-05 12:11] MourinhoLove commented on #113
set alpha？

[2021-09-05 12:11] #113 closed